/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
@import url("https://fonts.googleapis.com/css?family=Merienda+One");
@import url("https://fonts.googleapis.com/css?family=Coming+Soon");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

body {
  background-color: #791A15; }

.container {
  clear: both; }

.activated {
  display: block;
  border-radius: 10px;
  margin: 20px auto;
  width: 400px;
  clear: both; }

.deactivated {
  display: none; }

.resultsNotVisible {
  display: none; }

nav {
  height: 30px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.6); }
  nav li {
    float: left;
    margin: 0 30px 0 10px;
    padding-top: 3px; }

.navigationItems {
  text-decoration: none;
  color: white;
  font-family: 'Roboto Slab', serif;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

.loggedInAsWide {
  text-decoration: none;
  color: white;
  font-family: 'Roboto Slab', serif;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

.loggedInAsNarrow {
  display: none; }

.navigationItems:hover {
  border-bottom: 2px solid white; }

.loginArea {
  float: right; }

.not-found {
  margin: 10px auto;
  display: block;
  width: 1000px; }

@media (max-width: 700px) {
  nav {
    font-size: 15px; }
    nav li {
      float: left;
      margin: 0 5px;
      padding-top: 6px; } }

@media (max-width: 500px) {
  .loggedInAsWide {
    display: none; }
  .loggedInAsNarrow {
    display: block;
    text-decoration: none;
    color: white;
    font-family: 'Roboto Slab', serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; } }

#page-nav {
  background-color: #300A08;
  height: 20px;
  padding: 0 10px;
  margin: 0 auto;
  color: white;
  text-align: center; }

#page-count {
  float: right; }

#page-buttons {
  text-align: center;
  width: 150px;
  display: inline-block; }

.page-view-item, .previous-button-visible, .next-button-visible {
  float: left;
  margin-right: 10px;
  padding-top: 2px; }

.page-view-item {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

.previous-button-visible, .next-button-visible {
  display: block;
  padding: 10px 20px;
  background-color: #C63D36;
  color: white;
  border-radius: 10px;
  margin-top: 15px;
  border-color: #C63D36;
  opacity: .9;
  font-size: 20px; }

.next-button-visible {
  float: right; }

.previous-button-invisible {
  display: none; }

.next-button-invisible {
  display: none; }

.page-view-visible {
  display: block; }

.page-view-invisible {
  display: none; }

@media (max-width: 530px) {
  .page-view-item, .previous-button-visible, .next-button-visible {
    margin: 0 2px; }
  #page-buttons {
    width: 130px; }
  #page-nav {
    text-align: justify; } }

header {
  background-image: url("./images/omni-restaurant.jpg");
  background-size: cover;
  background-position: center;
  height: 450px; }

.search-box {
  margin: 0 auto;
  padding: 30px;
  width: 700px;
  background-color: white;
  opacity: .97;
  border-radius: 5px;
  top: 85px;
  position: relative;
  overflow: auto; }

.search-box h1 {
  font-family: 'Merienda One', cursive;
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px; }

.input-bars {
  width: 100%;
  margin: 0 auto;
  /*outline: 1px solid orange;*/ }

.input-bars input {
  margin: 0 2%;
  width: 44.5%; }

input[type="text"] {
  font-size: 30px; }

.search-button {
  margin: 0 auto;
  display: block;
  padding: 10px 20px;
  background-color: #C63D36;
  color: white;
  border-radius: 10px;
  margin-top: 20px;
  border-color: #C63D36;
  opacity: .9;
  font-size: 20px; }

.filters {
  margin: 0 auto;
  display: block;
  width: 450px;
  padding-top: 20px; }

.filter {
  float: left;
  margin-right: 20px; }

.filter-name {
  margin-right: 5px; }

.header-logo {
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 0; }

@media (max-width: 800px) {
  .searchResultItem {
    margin: 1%;
    width: 98%; }
  .search-box {
    width: 80%;
    top: 40px; }
  .input-bars input {
    width: 100%;
    margin: 0; }
  .filters {
    margin: 0 auto;
    display: block;
    width: 100%;
    padding-top: 20px; }
  .filter {
    float: none;
    text-align: center;
    margin: 0 auto 10px auto; }
  .filter-name {
    margin: 0; } }

.savedResultItem, .randomResult {
  border: 1px solid #461613;
  border-radius: 10px;
  width: 47%;
  padding: 5px;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.5); }

.savedRestaurantDetails {
  margin-top: 7px;
  margin-left: 210px;
  overflow: auto;
  height: 205px; }

.savedResultItem, #random {
  font-family: 'Coming Soon', cursive;
  margin: 1%;
  background-image: url("images/crumpled-paper.jpg");
  background-size: contain;
  opacity: .8; }

.savedResultItem {
  height: 450px;
  float: left; }

#random {
  margin: 10px 26.5%; }

.randomResult {
  margin: 1% auto; }

.removeButton {
  background-image: url("./images/remove-button.png");
  background-size: contain;
  width: 50px;
  height: 50px;
  margin-top: 65px;
  margin-right: 10px;
  float: right; }

.removeButton:hover {
  background-image: url("./images/remove-button-hover.png");
  background-size: contain;
  width: 50px;
  height: 50px; }

.saved-restaurant-header {
  background-image: url("./images/cmu-dining-the-beach.jpg");
  background-size: cover;
  background-position: center;
  height: 450px;
  text-align: center;
  color: white; }

.welcome {
  font-size: 50px;
  padding-top: 150px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

.logInViewSaves {
  font-size: 50px;
  padding-top: 200px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

.saved-restaurant-buttons {
  margin: 0 auto;
  display: block;
  padding: 10px 20px;
  background-color: #C63D36;
  color: white;
  border-radius: 10px;
  margin-top: 20px;
  border-color: #C63D36;
  font-size: 20px; }

.saved-restaurant-buttons-zone {
  width: 270px;
  margin: 0 auto; }

.saved-visible {
  display: block; }

.saved-invisible {
  display: none; }

.saved-rand-visible {
  display: block; }

.saved-rand-invisible {
  display: none; }

.notes-section {
  width: 100%;
  clear: both;
  margin-top: 10px;
  margin-bottom: 60px; }

.notes-title {
  font-size: 25px; }

pre {
  white-space: pre-wrap; }

.notes-section-text {
  width: 98%;
  min-height: 110px;
  margin-bottom: 10px;
  line-height: 1.4;
  font-size: 20px;
  padding: 1%; }

.note-input {
  margin-right: 1%;
  margin: 0 auto;
  width: 98%;
  height: 20px;
  resize: none; }

.saved-restaurant-title {
  font-size: 20px;
  margin-top: 5px; }

.saved-details {
  font-size: 18px; }

@media (max-width: 1260px) {
  .savedResultItem {
    float: none;
    margin: 1% auto; }
  #random {
    margin: 10px auto; } }

@media (max-width: 1060px) {
  .savedResultItem {
    width: 55%; } }

@media (max-width: 880px) {
  .savedResultItem {
    width: 70%; } }

@media (max-width: 700px) {
  .savedResultItem {
    width: 80%; }
  .savedRestaurantDetails {
    margin-left: 210px; } }

@media (max-width: 675px) {
  .welcome {
    padding-top: 100px; } }

@media (max-width: 600px) {
  .removeButton {
    width: 20px;
    height: 20px;
    margin-top: 0;
    margin-right: 5px; }
  .removeButton:hover {
    width: 20px;
    height: 20px; } }

@media (max-width: 530px) {
  .savedResultItem {
    height: 400px;
    font-size: 13px; }
  .star-rating {
    height: 15px; }
  .yelp-logo {
    height: 20px; }
  .saved-restaurant-title {
    font-size: 15px;
    margin-top: 5px; }
  .savedRestaurantDetails {
    margin-left: 160px;
    height: 170px; }
  .saved-details {
    font-size: 12px; }
  .notes-section {
    margin-top: 0px; } }

.body-container {
  width: 90%;
  margin: 0 auto; }

.error-message {
  text-align: center; }

.search-results {
  display: block;
  clear: both; }

.search-results-hidden {
  display: none; }

.searchResultItem {
  border: 1px solid #461613;
  border-radius: 10px;
  margin: 1%;
  width: 47%;
  padding: 5px;
  overflow: auto;
  float: left;
  background-color: rgba(255, 255, 255, 0.5); }

.searchResultItem:hover {
  border: 1px solid #2a0b09;
  background-color: rgba(255, 255, 255, 0.8); }

.image-result img {
  float: left;
  margin-top: 5px;
  height: 200px;
  width: 200px;
  display: inline;
  border-radius: 5%;
  border: 1px solid grey; }

.restaurantDetails {
  margin-top: 7px;
  margin-left: 210px;
  overflow: auto;
  height: 205px; }

.noAddButton {
  display: none; }

.addButton {
  background-image: url("./images/add-button.png");
  background-size: contain;
  width: 50px;
  height: 50px;
  margin-top: 65px;
  margin-right: 10px;
  float: right; }

.addButton:hover {
  background-image: url("./images/add-button-hover.png");
  background-size: contain;
  width: 50px;
  height: 50px;
  opacity: .7; }

.textResults {
  height: 180px; }

.star-rating {
  height: 25px;
  margin: 1px 0; }

.yelp-logo {
  height: 30px; }

.restaurant-name {
  font-weight: bold; }

@media (max-width: 1350px) {
  .body-container {
    width: 95%;
    margin: 0 auto; } }

@media (max-width: 1260px) {
  .searchResultItem {
    margin: 5px auto;
    float: none;
    width: 600px; } }

@media (max-width: 640px) {
  .searchResultItem {
    width: 95%; } }

@media (max-width: 530px) {
  .image-result img {
    margin: 12px 0;
    height: 150px;
    width: 150px; }
  .restaurantDetails {
    margin-left: 160px;
    height: 170px;
    font-size: 13px; }
  .addButton {
    width: 20px;
    height: 20px;
    margin-top: 0;
    margin-right: 5px; }
  .addButton:hover {
    width: 20px;
    height: 20px; }
  .textResults {
    height: 150px; }
  .star-rating {
    height: 15px; }
  .yelp-logo {
    height: 20px; } }

.sign-up, .login {
  margin: 0 auto;
  width: 600px;
  background-color: white;
  margin-top: 250px;
  border-radius: 5px;
  text-align: center;
  padding: 50px; }
  .sign-up input, .sign-up button, .login input, .login button {
    margin-top: 20px; }
  .sign-up input[type="text"], .sign-up input[type='password'], .login input[type="text"], .login input[type='password'] {
    font-size: 30px; }
  .sign-up button, .login button {
    font-size: 20px; }

.sign-up-title, .login-title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px; }

.error-message {
  color: red;
  font-size: 30px;
  margin-top: 20px; }

@media (max-width: 750px) {
  .sign-up, .login {
    margin-top: 40px;
    width: 80%;
    padding: 10px; }
    .sign-up input, .login input {
      width: 80%;
      margin: 0 auto; } }
