.searchResultItem {
  border: 1px solid black;
  margin-top: 10px;
  width: 550px;
  padding: 5px;
  overflow: auto;
}

.imageResult img {
  float: left;
	height: 150px;
  width: 150px;
  display: inline;
  border-radius: 5%;
  border: 1px solid grey;
}

.restaurantDetails {
  margin-left: 160px;
  overflow: auto;
}

.addButton {
  background-image: url('images/add-button.png');
  background-size: contain;
  width: 50px;
  height: 50px;
  margin-top: 50px;
  margin-right: 10px;
  float: right;
}

.addButton:hover {
  background-image: url('images/add-button-hover.png');
  background-size: contain;
  width: 50px;
  height: 50px;
}

.activated {
  display: block;
  margin: 0 auto;
  width: 500px;
}

.deactivated {
  display: none;
}

.resultsNotVisible {
  display: none;
}

.star-rating {
  height: 25px;
}

.yelp-logo {
  height: 25px;
}

.textResults {
  height: 150px;
}

header {
	background-image: url("images/restaurant_yukihira.png");
	background-size: cover;
  background-position: center;
	height: 400px;
}

.inputBars {
  width: 670px;
  margin: 0 auto;
  padding-top: 150px;
  /*outline: 1px solid orange;*/
}

input[type="text"] {
  font-size: 30px;
}

.restaurant-input {
  margin-right: 30px;
}

.search-button {
  margin: 0 auto;
  display: block;
  padding: 10px 20px;
  background-color: rgb(152, 0, 0);
  color: white;
  border-radius: 10px;
  margin-top: 20px;
  border-color: rgb(120, 0, 0);
  opacity: .9;
}

.search-button-text {
  font-size: 20px;
}
