.activated {
  display: block;
  position: absolute;
  top: 45px;
  left: 35%;
  border-radius: 10px;
  border: 10px solid white;
  margin: 0 auto;
  width: 500px;
  clear: both;
}

.deactivated {
  display: none;
}

.resultsNotVisible {
  display: none;
}
