header {
	background-image: url("./images/omni-restaurant.jpg");
	background-size: cover;
  background-position: center;
	height: 450px;
}

.search-box {
  margin: 0 auto;
  padding: 30px;
  width: 700px;
  background-color: white;
  opacity: .97;
  border-radius: 5px;
  top: 120px;
  position: relative;
  overflow: auto;
}

.input-bars {
  width: 670px;
  margin: 0 auto;
  /*outline: 1px solid orange;*/
}

.restaurant-input {
  margin-right: 30px;
}

input[type="text"] {
  font-size: 30px;
}

.search-button {
  margin: 0 auto;
  display: block;
  padding: 10px 20px;
  background-color: #C63D36;
  color: white;
  border-radius: 10px;
  margin-top: 20px;
  border-color: #C63D36;
  opacity: .9;
	font-size: 20px;
}

.filters {
  margin: 0 auto;
  display: block;
  width: 440px;
  padding-top: 20px;
}

.filter {
  float: left;
  margin-right: 20px;
}

.filter-name {
  margin-right: 5px;
}

.header-logo {
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 0
}

.previous-button-visible {
	display: block;
}

.previous-button-invisible {
	display: none;
}

.next-button-visible {
	display: block;
}

.next-button-invisible {
	display: none;
}

.page-view-visible {
	display: block;
}

.page-view-invisible {
	display: none;
}






















@media (max-width: 1100px) {
  .searchResultItem {
    margin: 1%;
    width: 98%;
  }
}
