@import url('https://fonts.googleapis.com/css?family=Merienda+One');

header {
	background-image: url("./images/red-restaurant.jpg");
	background-size: cover;
  background-position: center;
	height: 450px;
	border-bottom: 2px solid #300A08;
}

.search-box {
  margin: 0 auto;
  padding: 30px;
  // width: 42%;
	width: 700px;
  background-color: white;
  opacity: .97;
  border-radius: 5px;
  top: 85px;
  position: relative;
  overflow: auto;
}

.search-box h1 {
	font-family: 'Merienda One', cursive;
	text-align: center;
	font-size: 40px;
	margin-bottom: 20px;
}

.input-bars {
  width: 100%;
  margin: 0 auto;
  /*outline: 1px solid orange;*/
}

.input-bars input {
	margin: 0 2%;
	width: 44.5%;
}

input[type="text"] {
  font-size: 30px;
}

.search-button {
  margin: 0 auto;
  display: block;
  padding: 10px 20px;
  background-color: #C63D36;
  color: white;
  border-radius: 10px;
  margin-top: 20px;
  border-color: #C63D36;
  opacity: .9;
	font-size: 20px;
}

.filters {
  margin: 0 auto;
  display: block;
  width: 450px;
  padding-top: 20px;
}

.filter {
  float: left;
  margin-right: 20px;
}

.filter-name {
  margin-right: 5px;
}

.header-logo {
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 0
}




@media (max-width: 800px) {
	.searchResultItem {
		margin: 1%;
		width: 98%;
	}
	.search-box {
		width: 80%;
		top: 40px;
	}
	.input-bars input {
		width: 100%;
		margin: 0;
	}
	.filters {
	  margin: 0 auto;
	  display: block;
	  width: 100%;
	  padding-top: 20px;
	}
 .filter {
	 float: none;
	 text-align: center;
	 margin: 0 auto 10px auto;
 }
 .filter-name {
	 margin: 0;
 }
}

@media (max-width: 640px) {
	#loader {
		width: 50%;
	}
}
