@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');

.savedResultItem, .randomResult {
  border: 1px solid #461613;
  border-radius: 10px;
  width: 47%;
  padding: 5px;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.5);
}

.savedResultItem {
  float: left;
  margin: 1%;
  background-image: url("images/crumpled-paper.jpg");
  font-family: 'Just Another Hand', cursive;
  opacity: .8;
}

.randomResult {
  margin: 1% auto;
}

.removeButton {
  background-image: url('./images/remove-button.png');
  background-size: contain;
  width: 50px;
  height: 50px;
  margin-top: 65px;
  margin-right: 10px;
  float: right;
}

.removeButton:hover {
  background-image: url('./images/remove-button-hover.png');
  background-size: contain;
  width: 50px;
  height: 50px;
}

.saved-restaurant-header {
	background-image: url("./images/cmu-dining-the-beach.jpg");
	background-size: cover;
  background-position: center;
	height: 450px;
  text-align: center;
  color: white;
}

.welcome {
  font-size: 50px;
  padding-top: 150px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.logInViewSaves {
  font-size: 50px;
  padding-top: 200px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.saved-restaurant-buttons {
  margin: 0 auto;
  display: block;
  padding: 10px 20px;
  background-color: #C63D36;
  color: white;
  border-radius: 10px;
  margin-top: 20px;
  border-color: #C63D36;
  // opacity: .9;
  font-size: 20px;
}

.saved-restaurant-buttons-zone {
  width: 270px;
  margin: 0 auto;
}

.saved-visible {
  display: block;
}

.saved-invisible {
  display: none;
}

.saved-rand-visible {
  display: block;
}

.saved-rand-invisible {
  display: none;
}







.notes-section {
  width: 100%;
  clear: both;
  margin-top: 10px;
}

.notes-title {
  font-size: 25px;
}

pre {
  white-space: pre-wrap;
}

.notes-section-text {
  width: 98%;
  height: 100px;
  margin-bottom: 10px;
  // background-color: white;
  font-size: 20px;
  padding: 1%;
}

.note-input {
  margin: 0 auto;
  width: 99%;
  height: 75px;
  resize: none;
}
