.body-container {
  width: 90%;
  margin: 0 auto;
}

.error-message {
  text-align: center;
}

.search-results {
  display: block;
  clear: both;
}

.search-results-hidden {
  display: none;
}

.searchResultItem {
  border: 1px solid #461613;
  border-radius: 10px;
  margin: 1%;
  width: 47%;
  padding: 5px;
  overflow: auto;
  float: left;
  background-color: rgba(255, 255, 255, 0.5);
}

.searchResultItem:hover {
  border: 1px solid #2a0b09;
  background-color: rgba(255, 255, 255, 0.8);
}

.image-result {
  img {
    float: left;
    margin-top: 5px;
  	height: 200px;
    width: 200px;
    display: inline;
    border-radius: 5%;
    border: 1px solid grey;
  }
}

.restaurantDetails {
  margin-top: 7px;
  margin-left: 210px;
  overflow: auto;
  height: 205px;
}

.noAddButton {
  display: none;
}

.addButton {
  background-image: url('./images/add-button.png');
  background-size: contain;
  width: 50px;
  height: 50px;
  margin-top: 65px;
  margin-right: 10px;
  float: right;
}

.addButton:hover {
  background-image: url('./images/add-button-hover.png');
  background-size: contain;
  width: 50px;
  height: 50px;
  opacity: .7;
}

.textResults {
  height: 180px;
}

.star-rating {
  height: 25px;
  margin: 1px 0;
}

.yelp-logo {
  height: 30px;
}

.restaurant-name {
  font-weight: bold;
}



@media (max-width: 1350px) {
  .body-container {
    width: 95%;
    margin: 0 auto;
  }
}

@media (max-width: 1260px) {
  .searchResultItem {
    margin: 5px auto;
    float: none;
    width: 600px;
  }
}

@media (max-width: 640px) {
  .searchResultItem {
    width: 95%;
  }
}




@media (max-width: 530px) {
  .image-result {
    img {
      margin: 12px 0;
    	height: 150px;
      width: 150px;
    }
  }

  .restaurantDetails {
    margin-left: 160px;
    height: 170px;
    font-size: 13px;
  }

  .addButton {
    width: 20px;
    height: 20px;
    margin-top: 0;
    margin-right: 0;
  }

  .addButton:hover {
    width: 20px;
    height: 20px;
  }

  .textResults {
    height: 150px;
  }

  .star-rating {
    height: 15px;
  }

  .yelp-logo {
    height: 20px;
  }
}
